body {
  margin: 0;
}
.image-grid {
 --gap: 16px;
 --num-cols:3;
 --row-height: 300px;
 box-sizing: border-box;
 padding: var(--gap);

 display: grid;
 grid-template-columns: repeat(var(--num-cols), 1fr);
 gap: var(--gap);

}


.image-grid > img {
 border-radius: 10px;
 width: 100% ;
 height: 100%;
 }

 @media screen and (max-width: 1024px) {
  .image-grid {
    --num-cols: 1;
    --row-height: 200px;
 }
}
